html {
    background-image: url("../image_files/home_library.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
div.filter{
    opacity: 0;
}

/* Домашняя Библиотека */
h1 {
    position: absolute;
    width: 923px;
    height: 71px;
    left: 259px;
    top: 48px;

    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF;


}




p.curuser{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #FFFFFF;
}

div.filt_types{
    display: none;
    position: absolute;
    top: 42%;
    left: 27%;
    background-color: #F68924;
    width: 220px;
    height: 70px;
    border-radius: 10px;
}

input.allbook{
   position: absolute;
}

input.inlib{
    position: absolute;
    top: 30%;
}

input.duty{
    position: absolute;
    top: 60%;
}



label.label.l-1{
    position: absolute;
    left: 10%;
}
label.label.l-2{
    position: absolute;
    top: 30%;
    left: 10%;
}

label.label.l-3{
    position: absolute;
    top: 60%;
    left: 10%;
}
label.label{
    color: black;
}
/* Rectangle 1 */
ul {
    position: absolute;
    width: 600px;
    height: 200px;
    left: 418px;
    top: 58%;
    background: #FFFFFF;
}
.scroll-table{
    position: absolute;
    top: 60%;
    left: 27.5%;
}
.scroll-table-body {
    position: relative;
    height: 200px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}
.scroll-table table {
    top: 200px;
    left: 27%;
    width:600px;
    table-layout: fixed;
    border: none;
}
.scroll-table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #F68924;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
a {
    color: blue;
}
input._del{
 position: relative;
    left: 40px;
}
.scroll-table tbody th {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: gray;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    background-color: white;
}


/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Rectangle 2 */



/* Пользователь */
img.userpic {
    position: absolute;
    width: 50px;
    height: 40px;
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-weight: 400;
    top: 30%;
    font-size: 20px;
    line-height: 27px;
}

img.exitpic{
    float: left;
    padding-bottom: 50px;
}








/* Rectangle 3 */
button.exit {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 80%;
    top: 12%;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
}














/* icons8-фильтр-50 1 */
input.filt {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 27%;
    top: 53%;
}






/* icons8-умножение-30 2 */
input.del {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 33%;
    top: 53%;

}






/* icons8-крестик-xbox-30 2 */
input.add {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 30%;
    top: 53%;

}