extends originbook
block style
    link(rel="stylesheet"

        href="/css_files/notin.css")
block content
  img.cross(src="/image_files/cross.png")
  p.notbook Нет в наличии
  img.info(src="/image_files/info.png")
  form(action="./originbook_in.html")
    button.return Вернуть